* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

body .container {
  background-color: #1a2327;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
}

body .container .header {
  position: absolute;
  top: 30px;
  -webkit-animation-name: slideTop;
          animation-name: slideTop;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
}

body .container .header h1 {
  color: #fff;
  font-weight: 600;
}

body .container .card-image {
  overflow: hidden;
  background-color: #263238;
  -webkit-box-shadow: 1px 30px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 30px 50px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px;
  position: relative;
}

body .container .card-image img {
  width: 300px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

body .container .card-image .card-inner {
  background-color: rgba(38, 50, 56, 0.6);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  -webkit-clip-path: circle(0% at 50% 50%);
          clip-path: circle(0% at 50% 50%);
}

body .container .card-image .card-inner .card-title {
  margin-bottom: 20px;
  text-align: center;
}

body .container .card-image .card-inner .card-title h2 {
  font-weight: 500;
  color: #fff;
}

body .container .card-image .card-inner .card-title p {
  color: #fff;
}

body .container .card-image .card-inner .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .card-image .card-inner .social-icons .facebook {
  background-color: #1877f2;
}

body .container .card-image .card-inner .social-icons .facebook:hover {
  -webkit-box-shadow: 0px 0px 20px #1877f2;
          box-shadow: 0px 0px 20px #1877f2;
}

body .container .card-image .card-inner .social-icons .twitter {
  background-color: #1da1f2;
}

body .container .card-image .card-inner .social-icons .twitter:hover {
  -webkit-box-shadow: 0px 0px 20px #1da1f2;
          box-shadow: 0px 0px 20px #1da1f2;
}

body .container .card-image .card-inner .social-icons .youtube {
  background-color: #ff4545;
}

body .container .card-image .card-inner .social-icons .youtube:hover {
  -webkit-box-shadow: 0px 0px 20px #ff4545;
          box-shadow: 0px 0px 20px #ff4545;
}

body .container .card-image .card-inner .social-icons .github {
  background-color: #333;
}

body .container .card-image .card-inner .social-icons .github:hover {
  -webkit-box-shadow: 0px 0px 20px #aaa;
          box-shadow: 0px 0px 20px #aaa;
}

body .container .card-image .card-inner .social-icons .linkedin {
  background-color: #2977c9;
}

body .container .card-image .card-inner .social-icons .linkedin:hover {
  -webkit-box-shadow: 0px 0px 20px #2977c9;
          box-shadow: 0px 0px 20px #2977c9;
}

body .container .card-image .card-inner .social-icons .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 5px;
  color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

body .container .card-image .card-inner .social-icons .icon:active {
  -webkit-clip-path: circle(100% at 50% 50%);
          clip-path: circle(100% at 50% 50%);
  -webkit-transition: all 4s ease;
  transition: all 4s ease;
}

body .container .card-image .card-inner .social-icons .icon .feather {
  width: 18px;
  height: 18px;
}

body .container .card-image:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}

body .container .card-image:hover .card-inner {
  -webkit-clip-path: circle(100% at 50% 50%);
          clip-path: circle(100% at 50% 50%);
  opacity: 1;
}

body .container #firstCard {
  -webkit-animation-name: slideTop;
          animation-name: slideTop;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

body .container #secondCard {
  -webkit-animation-name: slideTop;
          animation-name: slideTop;
  -webkit-animation-duration: 2.4s;
          animation-duration: 2.4s;
}

body .container #thirdCard {
  -webkit-animation-name: slideTop;
          animation-name: slideTop;
  -webkit-animation-duration: 2.8s;
          animation-duration: 2.8s;
}

@-webkit-keyframes slideTop {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: .3;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideTop {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: .3;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
/*# sourceMappingURL=index.css.map */